@import '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css';

.ui.grid {
    padding: 1rem 0;
}

.column:first-child .card {
    box-shadow: 0 1px 3px 0 #d9d2e8, 0 0 0 1px #d9d2e8;
}

.ui.search {
    padding: 0;
}

.ui.search input {
    padding: 14px;
    box-shadow: 0 0 0;
}

a {
    color: #333;
}

a:hover {
    color: #735ba5;
}

.ui.header {
    padding: 1em 0 0;
    margin-bottom: 0;
}