@import '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css';
.ui.grid {
    position: relative;
}

.search .card {
    box-shadow: 0 1px 3px 0 #9e8ec1, 0 0 0 1px #9e8ec1;
}

.search .input {
    padding: 0;
}

.search .input input{
    padding: 14px;
    box-shadow: 0 0 0;
}

.ui.card:hover{
    cursor: pointer;
}

a {
    color: #333;
}

a:hover {
    color: #735ba5;
}

.ui.header {
    padding: 1em 0 0;
    margin-bottom: 1em;
}